/* Styling for the MakeAppointment component */
.makeAppointment {
    background-color: #3A4256; /* Dark background color */
    padding: 60px 0;
    border-radius: 8px;
    margin: 50px 0;
    position: relative;
  }
  
  .makeAppointment .container {
    position: relative;
    z-index: 1;
  }
  
  .makeAppointment img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .makeAppointment h5 {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 700;
  }
  
  .appointment-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.4;
    color: white;
  }
  
  .appointment-description {
    font-size: 16px;
    color: #b0b0b0;
  }
  
  .makeAppointment .btn {
    background-color: #00c4cc;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 30px;
    transition: all 0.3s ease;
  }
  
  .makeAppointment .btn:hover {
    background-color: #00b2b9;
  }
  
  /* Responsive design for smaller screens */
  @media (max-width: 768px) {
    .makeAppointment {
      padding: 30px 0;
      text-align: center;
    }
  
    .makeAppointment img {
      margin-bottom: 20px;
    }
  
    .appointment-title {
      font-size: 28px;
    }
  
    .appointment-description {
      font-size: 14px;
    }
  }
  