.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100vw;
    margin: 0 auto;
    background-color: #f0f8ff;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensure that the title is hidden when it slides out of view */
}

.welcome-title {
    font-size: 2.0rem; /* Slightly larger for visibility */
    font-weight: bold;
    color: #4CAF50;
    text-align: center;
    white-space: nowrap; /* Prevent text from wrapping to a new line */
}
